{% extends 'base.html' %} {% load static %} {% block head_title %}Change
Password{% endblock %} {% block body %} {% if form.non_field_errors %}
<br />
{% block error %}
<div
  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
  role="alert"
>
  <p class="font-bold">Error!</p>
  <p class="block sm:inline">{{ form.non_field_errors }}</p>
</div>
{% endblock %}
<br />
{% endif %}

<div class="bg-white px-3 py-4 rounded-xl my-6">
  <h1 class="font-bold text-3xl text-center pb-5">Change Password</h1>
  <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %} {% for hidden_field in form.hidden_fields %}
    <br />
    {{ hidden_field }} {% endfor %}
    <br />

    {% if form.old_password.errors %}
    <br />
    {% for error in form.old_password.errors %}
    <div
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
      role="alert"
    >
      <p class="font-bold">Error!</p>
      <p class="block sm:inline">{{ error }}</p>
    </div>
    {% endfor %} {% endif %}

    <div class="mb-4">
      <label
        for="{{ form.old_password.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2"
      >
        Old Password
      </label>
      {{ form.old_password }}
    </div>

    <div class="mb-4">
      <label
        for="{{ form.new_password1.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2"
      >
        New Password
      </label>
      {{ form.new_password1 }}
    </div>

    <div class="mb-6">
      <label
        for="{{ form.new_password2.id_for_label }}"
        class="block text-gray-700 text-sm font-bold mb-2"
      >
        Confirm New Password
      </label>
      {{ form.new_password2 }}
    </div>

    <div class="flex items-center justify-between">
      <button
        class="py-2 px-4 rounded-md bg-blue-500 hover:bg-blue-700 text-white font-semibold focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Change Password
      </button>
    </div>
  </form>
</div>

<style>
  input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    box-sizing: border-box;
  }
</style>

{% endblock %}
